.app {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;

}

.app h1 {
  color: rebeccapurple;
  font-size: 48px;
}
